Упражнение 1

In [1]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print(pd.Series(mylist))
print("----------------------")
print(pd.Series(myarr))
print("----------------------")
print(pd.Series(mydict))

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
----------------------
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
----------------------
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Упражнение 2

In [ ]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

dataFrame = ser.reset_index()
dataFrame.columns = ['Буквы', "Значения"]
print(dataFrame)

   Буквы  Значения
0      a         0
1      b         1
2      c         2
3      e         3
4      d         4
5      f         5
6      g         6
7      h         7
8      i         8
9      j         9
10     k        10
11     l        11
12     m        12
13     n        13
14     o        14
15     p        15
16     q        16
17     r        17
18     s        18
19     t        19
20     u        20
21     v        21
22     w        22
23     x        23
24     y        24
25     z        25

Упражнение 3

In [21]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mydict)

mylist2 = list('АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ')
myarr2 = np.arange(33)
mydict2 = dict(zip(mylist2, myarr2))
ser2 = pd.Series(mydict2)


df = pd.concat([ser1, ser2]).reset_index()
df.columns = ["Буква", "Индекс в своем алфавите"]
print(df)

   Буква  Индекс в своем алфавите
0      a                        0
1      b                        1
2      c                        2
3      e                        3
4      d                        4
5      f                        5
6      g                        6
7      h                        7
8      i                        8
9      j                        9
10     k                       10
11     l                       11
12     m                       12
13     n                       13
14     o                       14
15     p                       15
16     q                       16
17     r                       17
18     s                       18
19     t                       19
20     u                       20
21     v                       21
22     w                       22
23     x                       23
24     y                       24
25     z                       25
26     А                        0
27     Б                        1
28     В                        2
29     Г                        3
30     Д                        4
31     Е                        5
32     Ё                        6
33     Ж                        7
34     З                        8
35     И                        9
36     Й                       10
37     К                       11
38     Л                       12
39     М                       13
40     Н                       14
41     О                       15
42     П                       16
43     Р                       17
44     С                       18
45     Т                       19
46     У                       20
47     Ф                       21
48     Х                       22
49     Ц                       23
50     Ч                       24
51     Ш                       25
52     Щ                       26
53     Ъ                       27
54     Ы                       28
55     Ь                       29
56     Э                       30
57     Ю                       31
58     Я                       32

Упражнение 4

In [4]:
import pandas as pd

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
df = ser.to_frame()
df.columns = ["Lattin Letters"]
print(df)

   Lattin Letters
0               a
1               b
2               c
3               e
4               d
5               f
6               g
7               h
8               i
9               j
10              k
11              l
12              m
13              n
14              o
15              p
16              q
17              r
18              s
19              t
20              u
21              v
22              w
23              x
24              y
25              z

Упражнение 5

In [5]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1 = ser1.drop(ser1[ser1.isin(ser2)].index)
print(ser1)

0    1
1    2
2    3
dtype: int64

Упражнение 6

In [49]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8, 1])
print(list(pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]])))

[2, 3, 6, 7, 8]

Упражнение 7

In [56]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)
print("Minimum", ser.min())
print("25th:", ser.quantile(0.25))
print("Median:", ser.median())
print("75th:", ser.quantile(0.75))
print("Maximum:", ser.max())

0      9.457401
1     10.151407
2     16.638921
3     15.314543
4      5.644602
5     13.792711
6     12.849020
7     11.411893
8      4.270971
9     16.475976
10     0.309944
11     7.997621
12     9.799940
13    12.694781
14    16.671764
15     8.989266
16    15.325196
17    17.300999
18    16.110590
19     5.007885
20    -2.367261
21     8.973902
22    16.925918
23     7.837266
24    19.196042
dtype: float64
Minimum -2.367261404221539
25th: 7.997621153706017
Median: 11.411893135792718
75th: 16.110589632398828
Maximum: 19.196041556361365

Упражнение 8

In [29]:
import numpy as np
import pandas as pd

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
frequency = ser.value_counts()
print(frequency)

b    6
a    6
f    6
d    4
g    3
c    2
e    2
h    1
Name: count, dtype: int64

Упражнение 9

In [8]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.randint(1, 5, [12]))

frequency = ser.value_counts()

mostCommon = frequency.nlargest(2).index

serModified = ser.where(ser.isin(mostCommon), "Прочее")

print("Оригинальная серия:")
print(ser)
print("\nИзмененная серия:")
print(serModified)

Оригинальная серия:
0     1
1     1
2     1
3     3
4     3
5     3
6     3
7     2
8     4
9     2
10    2
11    4
dtype: int32

Измененная серия:
0          1
1          1
2          1
3          3
4          3
5          3
6          3
7     Прочее
8     Прочее
9     Прочее
10    Прочее
11    Прочее
dtype: object

Упражнение 10

In [9]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.random(20))

deciles = pd.qcut(ser, 10, labels=[f'{i+1}th' for i in range(10)])

print("Оригинальная серия:")
print(ser)
print("\nСерия с децилями:")
print(deciles)

Оригинальная серия:
0     0.611033
1     0.613980
2     0.903351
3     0.460241
4     0.048363
5     0.306242
6     0.443332
7     0.551461
8     0.945308
9     0.535115
10    0.434800
11    0.533352
12    0.407153
13    0.487092
14    0.817114
15    0.803421
16    0.382593
17    0.043324
18    0.920963
19    0.251992
dtype: float64

Серия с децилями:
0      7th
1      8th
2      9th
3      5th
4      1th
5      2th
6      4th
7      7th
8     10th
9      6th
10     4th
11     6th
12     3th
13     5th
14     9th
15     8th
16     3th
17     1th
18    10th
19     2th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

Упражнение 11

In [11]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7, 5))

print(df)

   0  1  2  3  4
0  3  3  3  8  9
1  9  7  4  8  3
2  3  5  8  6  7
3  9  7  7  2  1
4  4  6  1  8  9
5  5  7  5  5  8
6  9  5  4  6  6

Упражнение 12

In [14]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)

print(list(ser[ser % 3 == 0].index))

0    8
1    4
2    2
3    6
4    9
5    8
6    1
dtype: int32
[3, 4]

Упражнение 13

In [16]:
import pandas as pd

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser[pos])

0     a
4     e
8     i
14    o
20    u
dtype: object

Упражнение 14

In [17]:
import pandas as pd
import numpy as np

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

print(ser1, "\n")
print(ser2, "\n")

print("Вертикальное объединение:")
print(pd.DataFrame(pd.concat([ser1, ser2], axis=0), columns=['Values']))

print("\nГоризонтальное объединение:")
print(pd.DataFrame(pd.concat([ser1, ser2], axis=1)))

0    0
1    1
2    2
3    3
4    4
dtype: int64

0    a
1    b
2    c
3    d
4    e
dtype: object

Вертикальное объединение:
  Values
0      0
1      1
2      2
3      3
4      4
0      a
1      b
2      c
3      d
4      e

Горизонтальное объединение:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Упражнение 15

In [18]:
import pandas as pd
import numpy as np

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print([int(ser1[ser1 == value].index[0]) for value in ser2 if value in ser1.values])

[5, 4, 0, 8]

Упражнение 16

In [21]:
import pandas as pd
import numpy as np

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(((truth - pred) ** 2).mean())

0.23673991878159978

Упражнение 17

In [23]:
import pandas as pd
import numpy as np

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print("Было:\n", ser)

print("\nСтало:\n", ser.str.capitalize())

Было:
 0     how
1      to
2    kick
3    ass?
dtype: object

Стало:
 0     How
1      To
2    Kick
3    Ass?
dtype: object

Упражнение 18

In [30]:
import pandas as pd

def Count(line):
    print(len(line))

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(Count)
print() #чтобы ноутбук не выводил пустую серию, которую вернет apply

3
2
4
4

Упражнение 19

In [33]:
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

for i in range(len(ser)):

    if i == 0:
        continue
    
    print("\n", ser.diff(periods= i))

 0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

 0     NaN
1     NaN
2     5.0
3     7.0
4     9.0
5    11.0
6    12.0
7    14.0
dtype: float64

 0     NaN
1     NaN
2     NaN
3     9.0
4    12.0
5    15.0
6    17.0
7    20.0
dtype: float64

 0     NaN
1     NaN
2     NaN
3     NaN
4    14.0
5    18.0
6    21.0
7    25.0
dtype: float64

 0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5    20.0
6    24.0
7    29.0
dtype: float64

 0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6    26.0
7    32.0
dtype: float64

 0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7    34.0
dtype: float64

Упражнение 20

In [35]:

import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print(ser.astype('datetime64[s]'))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[s]

Упражнение 21

In [36]:
import pandas as pd
from numpy import datetime64

DayMontNums = []
Weeks = []
DayYearNums = []
DayWeeks = []

day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

def GetData(dt: datetime64): 
    DayMontNums.append(dt.timetuple().tm_mday)
    Weeks.append(dt.isocalendar()[1])
    DayYearNums.append(dt.timetuple().tm_yday)
    DayWeeks.append(day_names[dt.weekday()])

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser.astype('datetime64[s]').apply(GetData)

print("Day Month:", DayMontNums)
print("Week number:", Weeks)
print("Day num of year:", DayYearNums)
print("Day of week:", DayWeeks)

Day Month: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

Упражнение 22

In [38]:
import pandas as pd

def Convert(dt):
    return dt.replace(day = 4)

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

print(ser.astype('datetime64[ns]').apply(Convert))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

Упражнение 23

In [41]:
import pandas as pd

vowels = 'aeiouAEIOU'

def Check(word):
    count = sum(1 for char in word if char in vowels)
    return count >= 2

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
print(ser[ser.apply(Check)])

0     Apple
1    Orange
4     Money
dtype: object

Упражнение 24

In [43]:
import re
import pandas as pd

pattern = "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}"

def Check(potentialAddress):
    return bool(re.fullmatch(pattern, potentialAddress))

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com',
'matt@t.co', 'narendra@modi.com'])

print(emails[emails.apply(Check)])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

Упражнение 25

In [52]:
import numpy as np
import pandas as pd

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

print(weights.tolist())
print(fruit.tolist())
print("\n", pd.DataFrame({'fruit': fruit, 'weight': weights}).groupby('fruit')['weight'].mean())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'apple', 'banana', 'banana', 'banana', 'apple', 'banana', 'banana', 'carrot']

 fruit
apple     5.000000
banana    5.666667
carrot    5.500000
Name: weight, dtype: float64

Упражнение 26

In [55]:
import numpy as np
import pandas as pd

def EuclidDistance(p, q):
    return np.sqrt(((p - q) ** 2).sum())

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

print(EuclidDistance(p, q))

18.16590212458495

Упражнение 27

In [58]:
import pandas as pd

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

print(ser[(ser.shift(1) < ser) & (ser.shift(-1) < ser)].index.tolist())

[1, 5, 7]

Упражнение 28

In [60]:
import pandas as pd

my_str = 'dbc deb abed gade'

s = pd.Series(list(my_str))
count = s.value_counts()
print(my_str.replace(" ", count[count.index != " "].idxmin()))

dbccdebcabedcgade

Упражнение 29

In [70]:
import numpy as np
import pandas as pd

print(pd.Series(np.random.rand(10), index= pd.date_range(start='2000-01-01', periods=10, freq='W-SAT')))

2000-01-01    0.563583
2000-01-08    0.318579
2000-01-15    0.865375
2000-01-22    0.495887
2000-01-29    0.733748
2000-02-05    0.303693
2000-02-12    0.433603
2000-02-19    0.009790
2000-02-26    0.644576
2000-03-04    0.937203
Freq: W-SAT, dtype: float64

Упражнение 30

In [71]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03',
'2000-01-06', '2000-01-08']))

print(ser.reindex(pd.date_range(start=ser.index.min(), end=ser.index.max())).ffill())

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

Упражнение 31

In [78]:
import numpy as np
import pandas as pd

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

print(ser, "\n")

autoСorrelations = [ser.autocorr(lag) for lag in range(1, 11)]

print([float(s) for s in autoСorrelations])
print(f"\nЛаг с большей корреляцией (позиция): {np.argmax(autoСorrelations) + 1}")

0     -9.216194
1      5.034708
2    -16.065535
3     -1.378245
4      5.153694
5      7.037098
6     23.571962
7      2.212210
8     -1.675898
9     -7.157876
10    25.123412
11    18.266516
12    25.517568
13     7.836612
14    13.464828
15    17.504364
16    20.179814
17    30.123232
18    22.483899
19    38.009967
dtype: float64

[0.4801744584779526, 0.46671910297538216, 0.08553711401277608, 0.2881022463651249, 0.5490806944587682, 0.49678900098886836, 0.590683473851378, 0.11770506481499472, 0.38040103004883064, -0.3600442912084241]

Лаг с большей корреляцией (позиция): 7

Упражнение 32

In [62]:

import pandas as pd

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

print(pd.read_csv(url, header=None, names=column_names).iloc[::50])

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD    TAX  \
0     0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296.0
50    0.08873  21.0   5.64     0  0.439  5.963   45.7  6.8147    4  243.0
100   0.14866   0.0   8.56     0  0.520  6.727   79.9  2.7778    5  384.0
150   1.65660   0.0  19.58     0  0.871  6.122   97.3  1.6180    5  403.0
200   0.01778  95.0   1.47     0  0.403  7.135   13.9  7.6534    3  402.0
250   0.14030  22.0   5.86     0  0.431  6.487   13.0  7.3967    7  330.0
300   0.04417  70.0   2.24     0  0.400  6.871   47.4  7.8278    5  358.0
350   0.06211  40.0   1.25     0  0.429  6.490   44.4  8.7921    1  335.0
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666.0
450   6.71772   0.0  18.10     0  0.713  6.749   92.6  2.3236   24  666.0
500   0.22438   0.0   9.69     0  0.585  6.027   79.7  2.4982    6  391.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8

Упражнение 33

In [83]:
import pandas as pd

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

housing = pd.read_csv(url, header=None, names=column_names)
housing['MEDV'] = housing['MEDV'].apply(lambda x: 'Low' if x < 25 else 'High')
print(housing)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296.0
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242.0
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242.0
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222.0
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273.0
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273.0
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273.0
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273.0
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

Упражнение 34

In [84]:
import numpy as np
import pandas as pd

L = pd.Series(range(15))

print(pd.DataFrame(np.array([L[i:i + 4] for i in range(0, (len(L) // 2 - 1) * 2, 2)])).__array__())

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]

Упражнение 35

In [87]:
import pandas as pd

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

housing = pd.read_csv(url, header=None, names=column_names)

print(housing[['CRIM', 'MEDV']])

        CRIM  MEDV
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

Упражнение 36

In [88]:
import pandas as pd

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
cars93 = pd.read_csv(url)

num_rows, num_columns = cars93.shape
print(f"Количество строк: {num_rows}")
print(f"Количество столбцов: {num_columns}")

data_types = cars93.dtypes
print("\nТипы данных каждого столбца:")
print(data_types)

summary_statistics = cars93.describe(include='all')
print("\nСуммарная статистика каждого столбца:")
print(summary_statistics)

numpy_array = cars93.to_numpy()
print("\nЭквивалент датафрейма в виде numpy-массива:")
print(numpy_array)

list_representation = cars93.values.tolist()
print("\nЭквивалент датафрейма в виде списка:")
print(list_representation)

Количество строк: 93
Количество столбцов: 27

Типы данных каждого столбца:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика каждого столбца:
       Manufacturer    Model     Type  Min.Price      Price  Max.Price  \
count            89       92       90  86.000000  91.000000  88.000000
unique           31       92        6        NaN        NaN        NaN
top       Chevrolet  Integra  Midsize        NaN        NaN        NaN
freq              8        1       22        NaN        NaN        NaN
mean            NaN      NaN      NaN  17.118605  19.616484  21.459091
std             NaN      NaN      NaN   8.828290   9.724280  10.696563
min             NaN      NaN      NaN   6.700000   7.400000   7.900000
25%             NaN      NaN      NaN  10.825000  12.350000  14.575000
50%             NaN      NaN      NaN  14.600000  17.700000  19.150000
75%             NaN      NaN      NaN  20.250000  23.500000  24.825000
max             NaN      NaN      NaN  45.400000  61.900000  80.000000

         MPG.city  MPG.highway      AirBags DriveTrain  ... Passengers  \
count   84.000000    91.000000           55         86  ...  91.000000
unique        NaN          NaN            2          3  ...        NaN
top           NaN          NaN  Driver only      Front  ...        NaN
freq          NaN          NaN           39         61  ...        NaN
mean    22.404762    29.065934          NaN        NaN  ...   5.076923
std      5.841520     5.370293          NaN        NaN  ...   1.045953
min     15.000000    20.000000          NaN        NaN  ...   2.000000
25%     18.000000    26.000000          NaN        NaN  ...   4.000000
50%     21.000000    28.000000          NaN        NaN  ...   5.000000
75%     25.000000    31.000000          NaN        NaN  ...   6.000000
max     46.000000    50.000000          NaN        NaN  ...   8.000000

            Length   Wheelbase      Width  Turn.circle Rear.seat.room  \
count    89.000000   92.000000  87.000000    88.000000      89.000000
unique         NaN         NaN        NaN          NaN            NaN
top            NaN         NaN        NaN          NaN            NaN
freq           NaN         NaN        NaN          NaN            NaN
mean    182.865169  103.956522  69.448276    38.954545      27.853933
std      14.792651    6.856317   3.778023     3.304157       3.018129
min     141.000000   90.000000  60.000000    32.000000      19.000000
25%     174.000000   98.000000  67.000000    36.000000      26.000000
50%     181.000000  103.000000  69.000000    39.000000      27.500000
75%     192.000000  110.000000  72.000000    42.000000      30.000000
max     219.000000  119.000000  78.000000    45.000000      36.000000

        Luggage.room       Weight  Origin           Make
count      74.000000    86.000000      88             90
unique           NaN          NaN       2             90
top              NaN          NaN     USA  Acura Integra
freq             NaN          NaN      46              1
mean       13.986486  3104.593023     NaN            NaN
std         3.120824   600.129993     NaN            NaN
min         6.000000  1695.000000     NaN            NaN
25%        12.000000  2647.500000     NaN            NaN
50%        14.000000  3085.000000     NaN            NaN
75%        16.000000  3567.500000     NaN            NaN
max        22.000000  4105.000000     NaN            NaN

[11 rows x 27 columns]

Эквивалент датафрейма в виде numpy-массива:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

Эквивалент датафрейма в виде списка:

Упражнение 37

In [89]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price_row = df.loc[df['Price'].idxmax()]

manufacturer = max_price_row['Manufacturer']
model = max_price_row['Model']
car_type = max_price_row['Type']

max_price_index = df['Price'].idxmax()
max_price_column_index = df.columns.get_loc('Price')

print(f"Производитель: {manufacturer}")
print(f"Модель: {model}")
print(f"Тип: {car_type}")
print(f"Номер строки: {max_price_index}")
print(f"Номер столбца: {max_price_column_index}")

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Номер строки: 58
Номер столбца: 4

Упражнение 38

In [90]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.rename(columns={'Type': 'CarType'}, inplace=True)

df.columns = df.columns.str.replace('.', '_')

print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

Упражнение 39

In [92]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missingValues = df.isnull().sum()

if missingValues.sum() == 0:
    print("Нету пустышек")
else:
    print("Есть пустышки")

Есть пустышки

Упражнение 40

In [93]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missingValues = {}

for column in df.columns:
    missingValues[column] = int(df[column].isna().sum())

print(f"Кол-во пропусков в каждом столбце: {missingValues}")
veryBadTabel = max(missingValues, key= missingValues.get)
print(f"Столбец с самым большим кол-во пропусков: {veryBadTabel} - {missingValues[veryBadTabel]}")

Кол-во пропусков в каждом столбце: {'Manufacturer': 4, 'Model': 1, 'Type': 3, 'Min.Price': 7, 'Price': 2, 'Max.Price': 5, 'MPG.city': 9, 'MPG.highway': 2, 'AirBags': 38, 'DriveTrain': 7, 'Cylinders': 5, 'EngineSize': 2, 'Horsepower': 7, 'RPM': 3, 'Rev.per.mile': 6, 'Man.trans.avail': 5, 'Fuel.tank.capacity': 8, 'Passengers': 2, 'Length': 4, 'Wheelbase': 1, 'Width': 6, 'Turn.circle': 5, 'Rear.seat.room': 4, 'Luggage.room': 19, 'Weight': 7, 'Origin': 5, 'Make': 3}
Столбец с самым большим кол-во пропусков: AirBags - 38

Упражнение 41

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.fillna({'Min.Price': df['Min.Price'].mean()}, inplace=True)
df.fillna({'Max.Price': df['Max.Price'].mean()}, inplace=True)

print(print(df[['Min.Price', 'Max.Price']].isnull().sum()))

Min.Price    0
Max.Price    0
dtype: int64
None

Упражнение 42

In [95]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

meanMin = df['Min.Price'].mean()
medianMax = df['Max.Price'].median()

df['Min.Price'] = df['Min.Price'].apply(lambda x: meanMin if pd.isna(x) else x)
df['Max.Price'] = df['Max.Price'].apply(lambda x: medianMax if pd.isna(x) else x)

print(df[['Min.Price', 'Max.Price']].isnull().sum())

Min.Price    0
Max.Price    0
dtype: int64

Упражнение 43

In [97]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

print(df, "\n")

print(pd.DataFrame(df["a"]))

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

    a
0   0
1   5
2  10
3  15

Упражнение 44

In [98]:
import pandas as pd
import numpy as np

def SwitchTables(df: pd.DataFrame, col1: str, col2: str):
    df[[col1, col2]] = df[[col2, col1]]

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(df)
print('\n')
df = df[["c", "b", "a", "d", "e"]]
print(df)
print('\n')
SwitchTables(df, "c", "a")
print('\n')
print(df)
df = df.sort_index(axis=1, ascending=False)
print('\n')
print(df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19


    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19




    c   b   a   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19


    e   d   c   b   a
0   4   3   0   1   2
1   9   8   5   6   7
2  14  13  10  11  12
3  19  18  15  16  17

Упражнение 45

In [99]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

print(df)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

Упражнение 46

In [102]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

pd.set_option('display.float_format', '{:.4f}'.format)

print(df)

pd.reset_option('display.float_format')

   random
0  0.0000
1  0.9395
2  0.0004
3  0.0000

Упражнение 47

In [107]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

print(df, '\n')

df = df['random'].apply(lambda x: f"{x * 100:.2f}%")

print(df)

     random
0  0.094938
1  0.000676
2  0.135026
3  0.000086

0     9.49%
1     0.07%
2    13.50%
3     0.01%
Name: random, dtype: object

Упражнение 48

In [108]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, [0, 1, 2]])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

Упражнение 49

In [109]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')

df['Index'] = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
df.set_index('Index', inplace=True)

print(df)
print(f"Индекс является первичным ключом: {df.index.is_unique}")

                          Manufacturer    Model     Type  Min.Price  Price  \
Index
Acura_Integra_Small              Acura  Integra    Small       12.9   15.9
missing_Legend_Midsize         missing   Legend  Midsize       29.2   33.9
Audi_90_Compact                   Audi       90  Compact       25.9   29.1
Audi_100_Midsize                  Audi      100  Midsize        NaN   37.7
BMW_535i_Midsize                   BMW     535i  Midsize        NaN   30.0
...                                ...      ...      ...        ...    ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van       16.6   19.7
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6   20.0
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9   23.3
Volvo_240_Compact                Volvo      240  Compact       21.8   22.7
missing_850_Midsize            missing      850  Midsize       24.8   26.7

                           Max.Price  MPG.city  MPG.highway  \
Index
Acura_Integra_Small             18.8      25.0         31.0
missing_Legend_Midsize          38.7      18.0         25.0
Audi_90_Compact                 32.3      20.0         26.0
Audi_100_Midsize                44.6      19.0         26.0
BMW_535i_Midsize                 NaN      22.0         30.0
...                              ...       ...          ...
Volkswagen_Eurovan_Van          22.7      17.0         21.0
Volkswagen_Passat_Compact       22.4      21.0         30.0
Volkswagen_Corrado_Sporty       23.7      18.0         25.0
Volvo_240_Compact               23.5      21.0         28.0
missing_850_Midsize             28.5      20.0         28.0

                                      AirBags DriveTrain  ... Passengers  \
Index                                                     ...
Acura_Integra_Small                       NaN      Front  ...        5.0
missing_Legend_Midsize     Driver & Passenger      Front  ...        5.0
Audi_90_Compact                   Driver only      Front  ...        5.0
Audi_100_Midsize           Driver & Passenger        NaN  ...        6.0
BMW_535i_Midsize                          NaN       Rear  ...        4.0
...                                       ...        ...  ...        ...
Volkswagen_Eurovan_Van                    NaN      Front  ...        7.0
Volkswagen_Passat_Compact                 NaN      Front  ...        5.0
Volkswagen_Corrado_Sporty                 NaN      Front  ...        4.0
Volvo_240_Compact                 Driver only       Rear  ...        5.0
missing_850_Midsize        Driver & Passenger      Front  ...        5.0

                           Length  Wheelbase  Width  Turn.circle  \
Index
Acura_Integra_Small         177.0      102.0   68.0         37.0
missing_Legend_Midsize      195.0      115.0   71.0         38.0
Audi_90_Compact             180.0      102.0   67.0         37.0
Audi_100_Midsize            193.0      106.0    NaN         37.0
BMW_535i_Midsize            186.0      109.0   69.0         39.0
...                           ...        ...    ...          ...
Volkswagen_Eurovan_Van      187.0      115.0   72.0         38.0
Volkswagen_Passat_Compact   180.0      103.0   67.0         35.0
Volkswagen_Corrado_Sporty   159.0       97.0   66.0         36.0
Volvo_240_Compact           190.0      104.0   67.0         37.0
missing_850_Midsize         184.0      105.0   69.0         38.0

                          Rear.seat.room  Luggage.room  Weight   Origin  \
Index
Acura_Integra_Small                 26.5           NaN  2705.0  non-USA
missing_Legend_Midsize              30.0          15.0  3560.0  non-USA
Audi_90_Compact                     28.0          14.0  3375.0  non-USA
Audi_100_Midsize                    31.0          17.0  3405.0  non-USA
BMW_535i_Midsize                    27.0          13.0  3640.0  non-USA
...                                  ...           ...     ...      ...
Volkswagen_Eurovan_Van              34.0           NaN  3960.0      NaN
Volkswagen_Passat_Compact           31.5          14.0  2985.0  non-USA
Volkswagen_Corrado_Sporty           26.0          15.0  2810.0  non-USA
Volvo_240_Compact                   29.5          14.0  2985.0  non-USA
missing_850_Midsize                 30.0          15.0  3245.0  non-USA

                                         Make
Index
Acura_Integra_Small             Acura Integra
missing_Legend_Midsize           Acura Legend
Audi_90_Compact                       Audi 90
Audi_100_Midsize                     Audi 100
BMW_535i_Midsize                     BMW 535i
...                                       ...
Volkswagen_Eurovan_Van     Volkswagen Eurovan
Volkswagen_Passat_Compact   Volkswagen Passat
Volkswagen_Corrado_Sporty  Volkswagen Corrado
Volvo_240_Compact                   Volvo 240
missing_850_Midsize                 Volvo 850

[93 rows x 27 columns]
Индекс является первичным ключом: True

Упражнение 50

In [116]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1),
columns=list('abc'))

print(df["a"].nlargest(5).index[-1])

6

Упражнение 51

In [121]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 100, 15))

mean = ser.mean()

ser = ser[ser > mean]

print(ser.nlargest(2).index[-1])

9

Упражнение 52

In [125]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

print(df, '\n')

df = df[df.sum(axis= 1) > 100]

print(df.tail(2))

     0   1   2   3
0   18  16  29  13
1   24  15  14  14
2   19  19  33  23
3   36  17  21  35
4   26  25  34  26
5   24  29  17  39
6   38  24  23  22
7   11  31  36  18
8   10  39  20  20
9   17  30  10  25
10  14  30  28  39
11  18  16  36  33
12  32  13  17  36
13  26  14  15  35
14  36  22  24  38

     0   1   2   3
11  18  16  36  33
14  36  22  24  38

Упражнение 53

In [128]:
import pandas as pd
import numpy as np

ser = pd.Series(np.logspace(-2, 2, 30))

print(ser, "\n")

first = ser.quantile(0.05)
second = ser.quantile(0.95)

print(ser.clip(first, second))

0       0.010000
1       0.013738
2       0.018874
3       0.025929
4       0.035622
5       0.048939
6       0.067234
7       0.092367
8       0.126896
9       0.174333
10      0.239503
11      0.329034
12      0.452035
13      0.621017
14      0.853168
15      1.172102
16      1.610262
17      2.212216
18      3.039195
19      4.175319
20      5.736153
21      7.880463
22     10.826367
23     14.873521
24     20.433597
25     28.072162
26     38.566204
27     52.983169
28     72.789538
29    100.000000
dtype: float64

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
5      0.048939
6      0.067234
7      0.092367
8      0.126896
9      0.174333
10     0.239503
11     0.329034
12     0.452035
13     0.621017
14     0.853168
15     1.172102
16     1.610262
17     2.212216
18     3.039195
19     4.175319
20     5.736153
21     7.880463
22    10.826367
23    14.873521
24    20.433597
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
dtype: float64

Упражнение 54

In [154]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

print(df, "\n")

positive = df.values[df.values >= 0].flatten()

n = int(np.floor(np.sqrt(len(positive))))

print(pd.DataFrame(positive[:n*n].reshape(n, n)))

    0   1   2   3   4   5   6   7   8   9
0   5  22  18  -7  17  26  45  35 -15  38
1  18   9  31  42  34  43 -16  -2  37  40
2 -10  29  27  26 -16  -9  24  48  39 -17
3  -6  31  49   1   9   3  20  34   3  38
4   9  43  -4  23 -12  14  32  26  21  28
5   2  48  20 -16  35  15  12  29  26  44
6  17  -6  43   2  13 -16  23  39  19  35
7  46  13 -12   2  37  10  49   2 -20  36
8 -19  -6  38  13  33  11 -16 -15  44  21
9 -15  24   4 -16  25  12  -6  35  36  -3

    0   1   2   3   4   5   6   7
0   5  22  18  17  26  45  35  38
1  18   9  31  42  34  43  37  40
2  29  27  26  24  48  39  31  49
3   1   9   3  20  34   3  38   9
4  43  23  14  32  26  21  28   2
5  48  20  35  15  12  29  26  44
6  17  43   2  13  23  39  19  35
7  46  13   2  37  10  49   2  36

Упражнение 55

In [159]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

print(df, "\n")

df.iloc[[0, 1]] = df.iloc[[1, 0]].values
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

    0   1   2   3   4
0   5   6   7   8   9
1   0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Упражнение 56

In [162]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

print(df, "\n")

print(df.iloc[::-1].reset_index(drop=True))

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

    0   1   2   3   4
0  20  21  22  23  24
1  15  16  17  18  19
2  10  11  12  13  14
3   5   6   7   8   9
4   0   1   2   3   4

Упражнение 57

In [167]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

print(df, "\n")

print(pd.concat([pd.get_dummies(df['a']).astype(int), df.drop(columns='a')], axis=1))

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

Упражнение 58

In [174]:
import pandas as pd
import numpy as np

def CountMax(column):
    return (df.max(axis=1) == column).sum()

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

print(df, "\n")
print(df.apply(CountMax).idxmax())

    0   1   2   3
0  29   5  45  71
1  17  31  77  26
2  74  96  40  31
3  64   2  52  10
4  73  11  73   2
5  14  16  73  61
6  96  93  82  15
7  60  78  74   6
8  27  58  64  40
9  24  10  10  53

2

Упражнение 59

In [179]:

import pandas as pd
import numpy as np

def EuclideanDistance(row1, row2):
    return np.sqrt(np.sum((row1 - row2) ** 2))

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))

print(df, '\n')

nearest_rows = []
distances = []

for index, row in df.iterrows():
    min_distance = float('inf')
    nearest_row = None
    
    for other_index, other_row in df.iterrows():
        if index != other_index:
            distance = EuclideanDistance(row, other_row)
            if distance < min_distance:
                min_distance = distance
                nearest_row = other_index
    
    nearest_rows.append(nearest_row)
    distances.append(min_distance)

df['nearest_row'] = nearest_rows
df['dist'] = distances

print(df)

    p   q   r   s
a  83  99  61  55
b  56  30  64  75
c  21  44  88  93
d  27   9  47  28
e   4  38  44  19
f  48  58   7  90
g  32  74  79  74
h  59  47  73  49
i  54  76  85  36
j  57  57  15  59

    p   q   r   s nearest_row       dist
a  83  99  61  55           i  48.031240
b  56  30  64  75           h  32.480764
c  21  44  88  93           g  38.249183
d  27   9  47  28           e  38.209946
e   4  38  44  19           d  38.209946
f  48  58   7  90           j  33.271610
g  32  74  79  74           c  38.249183
h  59  47  73  49           b  32.480764
i  54  76  85  36           h  34.336569
j  57  57  15  59           f  33.271610

Упражнение 60

In [198]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1),
columns=list('pqrstuvwxy'), index=list('abcdefgh'))

print(df, '\n')

print(df.corr().abs().max(axis= 1))

    p   q   r   s   t   u   v   w   x   y
a  37  44  12  36  22  62   5  95  29  35
b  27  87  87  64  29   7   1  26  61  79
c  15  46  41  23  78  58  65  23  98  85
d  44  32  60  17  69  79   6  90  43  69
e  28   3  78  72  15  66  64  91   3  41
f  82   4  86  59  58  58  25  80  43  53
g  99  97  98  37  81  81  93   7  52  96
h  59  25  27  69  83  80  74  12  67  68

p    1.0
q    1.0
r    1.0
s    1.0
t    1.0
u    1.0
v    1.0
w    1.0
x    1.0
y    1.0
dtype: float64

Упражнение 61

In [202]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print(df, '\n')

print(pd.DataFrame({'Минимальные': df.min(axis= 1), 'Максимальные': df.max(axis= 1)}))

    0   1   2   3   4   5   6   7   8   9
0   3  87  51  71  19  34  75   8  69  94
1  36  32  76  76  19  55  33  59   5  63
2  10  47  42  37  10  67  31  52  99  82
3  82  75  31  19  47  70  67  49  89  80
4  12   8  44  41  35  52  40  20  50  30
5  51   1  59  98   2  19  84  30  77  87
6  68  68  77   1   7  80  30  85  61  51
7  50  98  42   1  72  44  83  97  21  67

   Минимальные  Максимальные
0            3            94
1            5            76
2           10            99
3           19            89
4            8            52
5            1            98
6            1            85
7            1            98

Упражнение 62

In [208]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print(df, '\n')

df['penultimate'] = df.apply(lambda x: x.nlargest(2).iloc[-1], axis=1)

print(df)

    0   1   2   3   4   5   6   7   8   9
0  83  55   8  88  92  31  90  23  63  27
1   1  38  93   1  32  40  70  29  41  61
2  67  13  75  30   2  30  25  86  67  71
3  99  62  39  72  76  82  22  85  49  24
4  55  53  64  61  66   3  33  62  37  66
5  48  76  36  67  86  44  46  86  21  74
6  71  36  41  37  81  62  50  76   3  61
7  68   7  96  41  39   3  80  55  31  95

    0   1   2   3   4   5   6   7   8   9  penultimate
0  83  55   8  88  92  31  90  23  63  27           90
1   1  38  93   1  32  40  70  29  41  61           70
2  67  13  75  30   2  30  25  86  67  71           75
3  99  62  39  72  76  82  22  85  49  24           85
4  55  53  64  61  66   3  33  62  37  66           66
5  48  76  36  67  86  44  46  86  21  74           86
6  71  36  41  37  81  62  50  76   3  61           76
7  68   7  96  41  39   3  80  55  31  95           95

Упражнение 63

In [215]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print(df, '\n') 

print("Нормализованный DataFrame:")
print((df - df.mean()) / df.std())
print("\nРанжированный DataFrame:")
print((df - df.min()) / (df.max() - df.min()))

    0   1   2   3   4   5   6   7   8   9
0  27  60  64   7  10  49   4  95  91  93
1  53  62  94  97  31  63  23  82  68  61
2  88  31   5  71  18  58  12  75  87  88
3  12  17  87  10  22  17  77  18  32  72
4  58  60  24  36   5  21  26  58  77  58
5  64  86  49  79  89   8  42  14   1  58
6  56  81   6  21   5  43  21  36  96  95
7  52  93  17  30  80   5  59  72  14  53

Нормализованный DataFrame:
          0         1         2         3         4         5         6  \
0 -1.052856 -0.047306  0.583129 -1.085574 -0.674470  0.696877 -1.174451
1  0.075979  0.028384  1.426207  1.563962 -0.044965  1.306643 -0.404983
2  1.595566 -1.144804 -1.074924  0.798541 -0.434659  1.088870 -0.850464
3 -1.704107 -1.674630  1.229488 -0.997256 -0.314753 -0.696877  1.781925
4  0.293063 -0.047306 -0.540975 -0.231834 -0.824353 -0.522657 -0.283488
5  0.553564  0.936658  0.161590  1.034055  1.693670 -1.088870  0.364485
6  0.206230  0.747434 -1.046822 -0.673424 -0.824353  0.435548 -0.485980
7  0.032563  1.201571 -0.737693 -0.408470  1.423882 -1.219534  1.052956

          7         8         9
0  1.278990  0.879985  1.198144
1  0.849910  0.261980 -0.649596
2  0.618866  0.772506  0.909435
3 -1.262487 -0.705331 -0.014435
4  0.057761  0.503808 -0.822822
5 -1.394512 -1.538294 -0.822822
6 -0.668376  1.014334  1.313628
7  0.519848 -1.188987 -1.111532

Ранжированный DataFrame:
          0         1         2         3         4         5         6  \
0  0.197368  0.565789  0.662921  0.000000  0.059524  0.758621  0.000000
1  0.539474  0.592105  1.000000  1.000000  0.309524  1.000000  0.260274
2  1.000000  0.184211  0.000000  0.711111  0.154762  0.913793  0.109589
3  0.000000  0.000000  0.921348  0.033333  0.202381  0.206897  1.000000
4  0.605263  0.565789  0.213483  0.322222  0.000000  0.275862  0.301370
5  0.684211  0.907895  0.494382  0.800000  1.000000  0.051724  0.520548
6  0.578947  0.842105  0.011236  0.155556  0.000000  0.655172  0.232877
7  0.526316  1.000000  0.134831  0.255556  0.892857  0.000000  0.753425

          7         8         9
0  1.000000  0.947368  0.952381
1  0.839506  0.705263  0.190476
2  0.753086  0.905263  0.833333
3  0.049383  0.326316  0.452381
4  0.543210  0.800000  0.119048
5  0.000000  0.000000  0.119048
6  0.271605  1.000000  1.000000
7  0.716049  0.136842  0.000000

Упражнение 64

In [216]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print(df, '\n') 

correlations = []

for i in range(len(df) - 1):
    correlations.append(df.iloc[i].corr(df.iloc[i + 1]))

print(pd.DataFrame(correlations, columns=['Correlation']))

    0   1   2   3   4   5   6   7   8   9
0  60  20   5  37  86  38  90  94  20  66
1  21   2   5  86  56  73  85  10   8  77
2  51  88  40  43  75   5  30  21  64  78
3  82  49  69  55  26  71  74  23  46  88
4  24  45  43  91  92  28  62  27  23  90
5  51  93  75  80  42   3   8  53  33   8
6  32  33   8  86  19  13  49  18  32  73
7  19   1  85   1  70  37  46  21  89  61

   Correlation
0     0.392315
1    -0.223776
2    -0.078496
3     0.017839
4    -0.017575
5    -0.025023
6    -0.324334

Упражнение 65

In [217]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

print(df, '\n')

np.fill_diagonal(df.values, 0)

np.fill_diagonal(np.fliplr(df.values), 0)

print(df)

    0   1   2   3   4   5   6   7   8   9
0  61  64  16  85  72  20  65  33  22  79
1  49  19  96  73  58  43  46  81  73  69
2  94  18  23  77  70  68  71  53  30  71
3  38   8  21   9  23  28  32  48  68  43
4  94  64  60  28  53  28  56  58  67  40
5  63  51  91  43  95   7  62   9  92  33
6  33  34  42  47  12  59  27  30  10  70
7  76  93  46  26   6  18  27  73  28  50
8  29   5  24  80  78  44  84  55   2  15
9  36   8  43  48  91  29  81  89  35  73

    0   1   2   3   4   5   6   7   8   9
0   0  64  16  85  72  20  65  33  22   0
1  49   0  96  73  58  43  46  81   0  69
2  94  18   0  77  70  68  71   0  30  71
3  38   8  21   0  23  28   0  48  68  43
4  94  64  60  28   0   0  56  58  67  40
5  63  51  91  43   0   0  62   9  92  33
6  33  34  42   0  12  59   0  30  10  70
7  76  93   0  26   6  18  27   0  28  50
8  29   0  24  80  78  44  84  55   0  15
9   0   8  43  48  91  29  81  89  35   0

Упражнение 66

In [221]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
'col2': np.random.rand(9),
'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

print(df_grouped, '\n')

print(df_grouped.get_group('apple').reset_index(drop=True))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002A8746EBA10>

    col1      col2  col3
0  apple  0.196934     7
1  apple  0.902614     5
2  apple  0.519363     2

C:\Users\Максим\AppData\Local\Temp\ipykernel_11760\3168558208.py:12: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(df_grouped.get_group('apple').reset_index(drop=True))

Упражнение 67

In [228]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
'rating': np.random.rand(9),
'price': np.random.randint(0, 15, 9)})

print(df, '\n')

ratings = df[df['fruit'] == 'banana']['rating']

print(f"Ответ: {df[df['fruit'] == 'banana']['rating'].nlargest(2).iloc[-1]}")

    fruit    rating  price
0   apple  0.199295      3
1  banana  0.088555      0
2  orange  0.870275      9
3   apple  0.948015     14
4  banana  0.230616     14
5  orange  0.101714      8
6   apple  0.535661     13
7  banana  0.139217     11
8  orange  0.958386      7

Ответ: 0.139216653752662

Упражнение 68

In [232]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
'rating': np.random.rand(9),
'price': np.random.randint(0, 15, 9)})

print(df, '\n')

price = df.groupby('fruit')['price'].mean().reset_index()

price.columns = ['fruit', 'average_price']

print(price)

    fruit    rating  price
0   apple  0.571390     13
1  banana  0.522150      7
2  orange  0.886940     11
3   apple  0.095358      8
4  banana  0.733830      9
5  orange  0.942227      6
6   apple  0.878131      0
7  banana  0.185001      5
8  orange  0.987441     11

    fruit  average_price
0   apple       7.000000
1  banana       7.000000
2  orange       9.333333

Упражнение 69

In [241]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
'weight': ['high', 'medium', 'low'] * 3,
'price': np.random.randint(0, 15, 9)})

print(df1, '\n')

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
'kilo': ['high', 'low'] * 3,
'price': np.random.randint(0, 15, 6)})

print(df2, '\n')

print(pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], how='inner'))

    fruit  weight  price
0   apple    high      6
1  banana  medium      5
2  orange     low      7
3   apple    high      0
4  banana  medium      0
5  orange     low     12
6   apple    high      1
7  banana  medium      2
8  orange     low      2

   pazham  kilo  price
0   apple  high      9
1  orange   low      1
2    pine  high     12
3   apple   low     14
4  orange  high      9
5    pine   low     10

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        6   apple  high        9
1  orange    low        7  orange   low        1
2   apple   high        0   apple  high        9
3  orange    low       12  orange   low        1
4   apple   high        1   apple  high        9
5  orange    low        2  orange   low        1

Упражнение 70

In [245]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns =
list('abcd'))

print(df, '\n')

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)

print(df)

    a   b   c   d
0   1  92  56  31
1  26  38  40  21
2  76  77  26  81
3  41  25   8   3
4  89   4  85  45

    a   b   c   d  a_lag1  b_lead1
0   1  92  56  31     NaN     38.0
1  26  38  40  21     1.0     77.0
2  76  77  26  81    26.0     25.0
3  41  25   8   3    76.0      4.0
4  89   4  85  45    41.0      NaN

Упражнение 71

In [250]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns =
list('abcd'))

print(df, '\n')

print(df.apply(pd.Series.value_counts).fillna(0))

   a  b  c  d
0  5  9  4  3
1  9  8  2  1
2  1  6  2  7
3  7  1  3  7
4  8  9  8  9

     a    b    c    d
1  1.0  1.0  0.0  1.0
2  0.0  0.0  2.0  0.0
3  0.0  0.0  1.0  1.0
4  0.0  0.0  1.0  0.0
5  1.0  0.0  0.0  0.0
6  0.0  1.0  0.0  0.0
7  1.0  0.0  0.0  2.0
8  1.0  1.0  1.0  0.0
9  1.0  2.0  0.0  1.0

Упражнение 72

In [254]:
import pandas as pd

df = pd.DataFrame(["STD, City, State",
"33, Kolkata, West Bengal",
"44, Chennai, Tamil Nadu",
"40, Hyderabad, Telengana",
"80, Bangalore, Karnataka"], columns=['row'])

print(df, '\n')

df[['STD', 'City', 'State']] = df['row'].str.split(',', expand=True)

df['City'] = df['City'].str.strip()
df['State'] = df['State'].str.strip()

df = df.drop(columns=['row'])
df = df.drop(index=0).reset_index()
df = df.drop(columns=['index'])

print(df)

                        row
0          STD, City, State
1  33, Kolkata, West Bengal
2   44, Chennai, Tamil Nadu
3  40, Hyderabad, Telengana
4  80, Bangalore, Karnataka

  STD       City        State
0  33    Kolkata  West Bengal
1  44    Chennai   Tamil Nadu
2  40  Hyderabad    Telengana
3  80  Bangalore    Karnataka